<!-- in form, action= where to submit the form (URL)
method = what type of HTTP request (get, post, put, etc...) -->

<form action="/search/movie" method="post">
    <!-- on an input box, "name" attribute is what the variable will be called on submission -->
    <input type="text" placeholder="<%=title%>" name="movieTitle"/>
    <button class="btn btn-success"><%=title %></button>
</form>
